
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewLabel">Création nouveau {{menu}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'newData'}}) }}
                    <div class="form-group mb-3">
                        <label for="" class="mb-2">Nom du categorie</label>
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3">Ajouter</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#newData').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    alert('Catégorie ajoutée avec succès!');
                    $('#newModal').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la catégorie.');
                }
            });
        });
    });
</script>
