<p>Bonjour {{ admin.firstName }} {{ admin.lastName|upper }}</p>
<p>Nous avons bien reçu votre demande de réinitialisation de mot de passe pour votre compte {{admin.email}} sur notre site web atelier Sahaza. Nous comprenons l'importance de la sécurité de votre compte et nous sommes là pour vous aider.</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien :<a href="{{ url|raw }}">Changer mon mot de passe</a></p>
<p>Si vous n'avez pas demandé cette réinitialisation de mot de passe, veuillez ignorer ce message. Assurez-vous que votre mot de passe actuel reste confidentiel et ne le partagez avec personne.</p>
<p>Cordialement,</p>
<p>L'équipe atelier Sahaza</p>