{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord!{% endblock %}

{% block body %}

<section class="dashboard">
    <div class="container">
        <h1 class="fw-bold">Bonjour !!!!</h1>
    </div>
</section>


{% endblock %}
